@charset "UTF-8";
/* CSS Document */

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	


body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 auto;
	color: grey;
}

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

.hidden {
	display: none;
}

/* Main header */
#topBar
{
	background-color: #60bddd;
	height: 20px;
}

#siteContainer 
{
	margin: 0 auto;
	width: 90%;
}

.toggle {
	display: none;
}

#mainHeader
{
	width: 100%;
	margin-top: 40px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
}

#mainLogo {
	width: 200px;	
}



.menu {
	font-family: 'Lobster', cursive;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	margin-right: 10%
}



.menu ul li {
	display: inline-flex;
	font-size: 20px;
	font-weight: 600;
	margin-right: 10px;
	padding-left: 10px;
	border-left: solid 2px #999;
}

.menu ul li a {
	color: #666;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.menu ul li a:hover {
color: #fff568;
	padding: 5px;

}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 2%;

}

		

/*main footer*/

#mainFooter
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

#footerNav {
	font-family: 'Lobster', cursive;
	margin-top: 20px;
	margin-left: 100px;
	display: flex;
	flex-direction: row;

}

#footerNav ul li {
	display: inline;
	font-size: 14px;
	font-weight: 600;
	margin-right: 20px;
}

#footerNav ul li a {
	color: #666;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#footerNav ul li a:hover {
	color: #333;
	padding: 5px;

}

#MADD {
 	width: 10%;
	margin-top: 5px
}

#MADD h3 {
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	font-weight: 400;
	color: salmon;
	line-height: 15px;
}

#aboutalcohol {
font-family: 'Montserrat', sans-serif;
display: block;
font-size: 14px;
color: #333;
letter-spacing: -1px;
line-height: 15px;
}

.copyright {
	font-weight: 100;
	font-size: 12px;
}

.footerSocials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 90px;
}
/* Index */


#hero 
{
	width: 95%;
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 30px;
}


#video {
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
	padding: 3%;
	padding-bottom: 4%;
	border: solid 10px #fff568;
}

.video h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: 800;
	color: #333;
	letter-spacing: 10px;
	text-align: center;
	margin-top: -4%;
	margin-bottom: 15%
}

.golden {
	font-family: 'Lobster', cursive;
	font-size: 36px;
	color: #fff568;
	font-weight: 800;
	text-shadow: 1px 1px black;
}

/* History */

.timeLine {
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between; 
	border-bottom: solid 1px #DDD;
}

.promoText {
	width: 50%;
	font-weight: 200;
	letter-spacing: .25px;
	line-height: 16px;
}

.promoImg {
	width: 90%;

}

.timelineTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 10px;
	line-height: 24px;
	color: grey;
}


/* The Bottle/Beer */

.columncon {

	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  	width: 50%;

}


#rowcon {
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	
}

.box {
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #666;
}


.bottle {
	margin-left: 15%;
	width: 60%;
		
}

.bottleTitles {
	font-family: 'Playfair Display SC', serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0px;
	line-height: 20px;
	color: grey;
}

.bottleTitles:hover {
	color: #60bddd;
	letter-spacing: 2px;
	font-weight: 1000;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.box p {
	letter-spacing: .5px;
}

.lightbox {
  display: none;
  background-color: rgba(238, 226, 126, 0.8);
  position: absolute;
  top: 18%;
  left: 33%;
  width: 30vw;
  height: 55vh;
}

.close{
  color: white;
  display: block;
  float: right;
  font-size: 30px;

}

.beer-info {
	font-family: 'Montserrat', sans-serif;
	color: #676767;
	font-size: 24px;
	font-weight: 800;
	text-shadow: 2px 1px #f1f2f2;
	text-align: center;
	line-height: 36px;
	position: absolute;
	top: 5%;
	padding: 10%;
}

.show-lightbox {
  display: block;
}

/* Contact Page */

#contactcon {

	margin-top: 1%;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	flex-shrink: 1 0 0;
	border-bottom: solid 1px #DDD;
}


#contactform {
 background-color: #DDD;
 width: 100%;
 padding: 2%;
 margin-top: 1%;

}
#contactform textarea {
	width: 80%;
	height: 150px;
}

#contactPromo {
margin-top: 1%;
width: 90%;
flex-shrink: 1;
}

#SocialLinks {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 50px;
	width: 90%;
	padding-bottom: 10px;
}

#SocialLinks h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 5px;
	line-height: 100px;
	color: grey;
}

/*hamburger*/

/* animation */

/* This is calling on the animation web kit*/
@-webkit-keyframes bounce {
/* this is laying out specific keyframes that the img will move through, I changed the percentages 
to customize my bounce*/
  from,
  20%,
  55%,
  97%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

20%,
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  40%,
  {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.2, 0.05, 0.2, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  60%,
  {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); /* these define the position relative to the original*/
  }
}


/* defining the bounce class so I can attach it to my img. */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* defining the animation class and duration */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Breaking Points*/

@media screen and (max-width: 1400px){
/*#mainNav ul li a {color: salmon;}*/

	.lightbox {
  	left: 33%;
  	width: 30vw;
  	height: 50vh;}

	.beer-info {
	top: 5%;
	font-size: 22px;
	line-height: 30px;}
}

@media screen and (max-width: 1155px){
	/*#mainNav ul li a {color: cyan;}*/

	.bottle {
	margin-left: 10%;
	width: 60%;}

	.bottleTitles{
	position: absolute;
  	transform: translate(-50%, -50%);}

	.box {
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 0px #666;}

	#contactcon {flex-wrap: wrap;}

	.promoText {width: 100%;}

	.box1 {margin-left: 10%;}

	.lightbox {
  left: 33%;
  width: 33vw;
  height: 60vh;}

	.beer-info {
	font-size: 22px;
	line-height: 30px;
	top: 5%;
	padding: 10%;}

/* Hamburger menu */

	.toggle { /* undoing the hide we did at the top*/
	display: flex;}

	.menu-wrapper {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;}

.menu-wrapper .toggle {
  position: absolute;
  width: 50px;
  height: 50px;

  z-index: 999;
  opacity: 0;}

.menu-wrapper .hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.5s ease;
}

.menu-wrapper .hamburger .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background: black;
  z-index: 5;
  transition: all 0.4s linear;}

.menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: black;
  transition: all 0.4s linear;}

.menu-wrapper .hamburger .bar::after {
  top: 10px;
}

.menu-wrapper .toggle:checked + .hamburger {
  transform: rotate(45deg);
}

.menu-wrapper .toggle:checked:hover + .hamburger {
  transform: rotate(135deg);
}

.menu-wrapper .toggle:checked + .hamburger .bar::before,
.menu-wrapper .toggle:checked + .hamburger .bar::after {
  top: 0;
  transform: rotate(90deg);
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: rgba(25, 25, 25, 0.85);
  z-index: 1;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu ul li {
font-family: 'Montserrat', sans-serif;
display: flex;
	flex-direction: row;
  font-size: 16px;
  margin-top: 10%;
  border-left: 0px;
}
.menu ul li a {
	  color: #fff;
}

.menu ul li a:hover {
  color: #fff568;
  border-bottom: 2px solid white;
}

.menu-wrapper .toggle:checked + .hamburger + .menu {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

#footerNav {
	display: none;
}
.socials {
	display: hidden;
}

#mainLogo {
	margin-left: 35%;
}
#video {
	padding-bottom: 7%;
}
.video h2 {margin-top: -7%}
}




@media screen and (max-width: 900px){
 	body {font-size: 14px; line-height: 14px;}
	/*#mainNav ul li a {color: magenta;}*/
	#SocialLinks h2 {
		line-height: 28px;
		letter-spacing: 1px;
	}
	.promoImg {
	width: 100%;
	margin-top: 10%;}

	.box1 {margin-left: 20%;}

	.lightbox {
  	left: 30%;
  	width: 50vw;
  	height: 45vh;}

	.beer-info {
	font-size: 18px;
	line-height: 24px;
	top: 5%;
	padding: 10%;}

	#video h2 {font-size: 36px;}
#video {
	border: solid 0px #fff568;
}

.video h2 {
	font-size: 16px;
	font-weight: 400;
	color: #333;
	letter-spacing: 1px;
	text-align: center;
	margin-top: -4%;
	margin-bottom: 15%
}
}

@media screen and (max-width: 600px){
	/*#mainNav ul li a {color: lime;}*/

	.timeLine{ flex-wrap: wrap;}

	.bottleTitles {font-size: 14px; }

	.lightbox {
	top:25%; 
  	left: 25%;
  	width: 50vw;
  	height: 33vh;}

	.beer-info {
	font-size: 16px;
	line-height: 18px;
	top: 0%;
	padding: 10%;}

	#video h2 {font-size: 18px;}
	.bottle{
		opacity: 20%;
	}

	
}

@media screen and (max-width: 375px){
	/*#mainNav ul li a {color: red;}*/

	body {font-size: 12px;line-height: 12px;}

	.box1 {margin-left: 30%;}

	.lightbox {
	top:25%; 
  	left: 25%;
  	width: 50vw;
  	height: 30vh;}

	.beer-info {
	font-size: 12px;
	line-height: 18px;
	padding: 10%;}

}