@charset "UTF-8";
/* CSS Document */

div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	


body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 0 auto;
	color: grey;
}

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

.hidden {
	display: none;
}

/* Main header */
#topBar
{
	background-color: #DDD;
	height: 20px;
}

#siteContainer 
{
	margin: 0 auto;
	width: 90%;
}

#mainHeader
{
	width: 90%;
	margin-top: 40px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

#mainLogo {
	width: 200px;	
}



#mainNav {
	font-family: 'Lobster', cursive;
	width: 70%;
	margin: 0 auto;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
}



#mainNav ul li {
	display: inline-flex;
	font-size: 20px;
	font-weight: 600;
	margin-right: 10px;
	padding-left: 10px;
	border-left: solid 2px #999;
}

#mainNav ul li a {
	color: #666;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#mainNav ul li a:hover {
color: #333;
	padding: 5px;

}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 5%;

}

		

/*main footer*/

#mainFooter
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 1px #DDD;
}

#footerNav {
	font-family: 'Lobster', cursive;
	margin-top: 20px;
	margin-left: 100px;
	display: flex;
	flex-direction: row;

}

#footerNav ul li {
	display: inline;
	font-size: 14px;
	font-weight: 600;
	margin-right: 20px;
}

#footerNav ul li a {
	color: #666;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#footerNav ul li a:hover {
	color: #333;
	padding: 5px;

}

#MADD {
 	width: 10%;
	margin-top: 5px
}

#MADD h3 {
	font-family: 'Playfair Display SC', serif;
	font-size: 16px;
	font-weight: 400;
	color: salmon;
	line-height: 15px;
}

#aboutalcohol {
font-family: Helvetica, Arial, sans-serif;
display: block;
font-size: 14px;
color: #333;
letter-spacing: -1px;
line-height: 15px;
}

.copyright {
	font-weight: 100;
	font-size: 12px;
}

.footerSocials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-left: 90px;
}
/* Index */

#hero 
{
	width: 70%;
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	padding-left: 30px;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
  	justify-content: center;
}



.videoDeco {
	width: 70%;
	margin-left: 15%; 
}

.videoDeco h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	font-weight: 400;
	color: #333;
	line-height: 70px;
	letter-spacing: 10px;
	text-align: center;
}

.fuelUp {
	font-family: 'Lobster', cursive;
	font-size: 50px;
	font-weight: 400;
	color: #333;
	line-height: 70px;
	letter-spacing: 10px;
}

.cursive {
	font-weight: 600;
	font-size: 70px;
	color: #666;
}
.texton {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
}

 .imgOn {
 position: absolute;
  top: 310px;
  left: 390px;
  transform: translate(-50%, -50%);
 }
/* History */

#timeLine, #timeLine1, #timeLine2, #timeLine3
{
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
}

.promoText {
	width: 500px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: .25px;
	line-height: 16px;
}

.timelineTitle{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 10px;
	line-height: 24px;
	color: grey;
}


/* The Bottle/Beer */

.columncon {

	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;

}

#rowcon {
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
}

.smallbox {
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #666;
}

.largebox {
	margin-bottom: 10px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #666;
}

.bottle {
	justify-content: center;
	
	
}

.bottleTitles {
	font-family: 'Playfair Display SC', serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 0px;
	line-height: 20px;
	color: grey;
}

.bottleTitles:hover {
	color: #60bddd;
	letter-spacing: 2px;
	font-weight: 1000;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}
.smallbox, .largebox p {
	letter-spacing: .5px;
}

.lightbox {
  display: none;
  background-color: rgba(238, 226, 126, 0.8);
  position: absolute;
  top: 18%;
  left: 35%;
  width: 30vw;
  height: 100vh;
}

.close{
  color: white;
  display: block;
  float: right;
  font-size: 30px;

}

.beer-info {
	font-family: 'Anton', sans-serif;
	color: #676767;
	font-size: 24px;
	font-weight: 800;
	text-shadow: 2px 1px #f1f2f2;
	text-align: center;
	line-height: 36px;
	position: absolute;
	top: 20%;
	padding: 10%;
}

.show-lightbox {
  display: block;
}

/* Contact Page */

#contactcon {

	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	border-bottom: solid 1px #DDD;
}

#contactform {
 background-color: #DDD;
 padding: 10px;
 margin-top: 30px;
 margin-right: 30px

}

.contact {
	width: 500px;
	height: 150px;
}

#terms {
	font-family: Helvetica, Arial, sans-serif;
	color: grey;
	width: 300px;
	margin-top: 30px;
}

#SocialLinks {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 50px;
	width: 100px;
	padding-bottom: 10px;
}


/* animation */

/* This is calling on the animation web kit*/
@-webkit-keyframes bounce {
/* this is laying out specific keyframes that the img will move through, I changed the percentages 
to customize my bounce*/
  from,
  20%,
  55%,
  97%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

20%,
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  40%,
  {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.2, 0.05, 0.2, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  60%,
  {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); /* these define the position relative to the original*/
  }
}


/* defining the bounce class so I can attach it to my img. */
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* defining the animation class and duration */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Breaking Points*/

@media screen and (max-width: 1400px){
#mainNav ul li a {
	color: salmon;
}
	}

@media screen and (max-width: 1155px){
	#mainNav ul li a {
	color: cyan;
}
	}

@media screen and (max-width: 900px){
	#mainNav ul li a {
	color: magenta;
	}

@media screen and (max-width: 600px){
	#mainNav ul li a {
	color: lime;
	}

@media screen and (max-width: 300px){
	#mainNav ul li a {
	color: red;
}
	}